.dropdownItem {
   text-align: start;
    position: absolute;
    display: none;
    width: 200px;
}
.far.fa-compass{
    color: red;
    font-size: 36px;
    margin:0 10px;
}
.navbar-brand .red{
    color: red;
}
.navbar-brand{
    color: #000;
}
.dropdown:hover .dropdownItem{
    display: block;
}

.drpbtn{
    margin: 7px 0;
    border: none;
    color: #696969;
}

.dropdownItem{
    background: #fff;
}

div#navbarNavDropdown {
    justify-content: center;
    font-size: 20px;
}

button#dropdownMenuButton1 {
    margin: 5px;
    font-size: 18px;
}